body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

.header-cuervo{
  background: black;
  color: white;
  font-family: "Source Sans Pro";
}
#example thead tr th{
  text-align: center;
}

#example tbody tr{
  background: black;
  color: white;
}
#example .group td {
    background: black !important;
    padding: 10px 32px !important;
    font-size: 16px;
    color: #CCB874 !important;
    border-style: none;
    /* border-color: #808080 !important; */
    font-family: "Source Sans Pro" !important;
    text-transform: uppercase;
    border: none;
}

#example .group td:hover{
  border-color: #CCB874 !important;
  color: #CCB874 !important;
}
#example tbody td {
  border-top: .5px solid #808080;
  padding: 14px 8px;
}
#example tbody .td-politicas {
  text-align: center;
}
.icon-politicas{
  float: right;
}
.top{
  padding-top: 54px !important;
}
.name-product{
  color: #CCB874;
}

#example tbody .collapsed td {
  border-color: #808080;
  color:#808080 !important;
  margin: 5%;
}

.head {
    border: 1px solid;
    margin: 2%;
    padding: 2%;
}